/*EL DISEÑO DEL CUERPO DEL BLOG*/
body 
{
	/*
	background-image: url('principal.jpg');
	background-repeat: no-repeat;
	background-size: 1800px  1400px;*/
/*EL FONDO DEL CUERPO DEL BLOG*/
	background: #f3e2c7; /* Old browsers */
	background: -moz-linear-gradient(top, #f3e2c7 4%, #c19e67 34%, #b68d4c 60%, #c19e67 75%, #e9d4b3 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f3e2c7), color-stop(34%,#c19e67), color-stop(60%,#b68d4c), color-stop(75%,#c19e67), color-stop(100%,#e9d4b3)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* IE10 preview */
	background: linear-gradient(to bottom, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
/*EL DISEÑO DEL ENCABEZADO */
.header
{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	padding: 0px;
	width: 100%
}
/*EL DISEÑO DEL MENU DE NAVEGACION*/
#btn_menu
{
	display: none
}
header label
{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
header label:hover
{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
}
.top_menu ul 
{
	margin: 0;
	list-style: none;
	padding: 0px;
	display: flex;
	background: #f3e2c7; /* Old browsers */
	background: -moz-linear-gradient(top, #f3e2c7 4%, #c19e67 34%, #b68d4c 60%, #c19e67 75%, #e9d4b3 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f3e2c7), color-stop(34%,#c19e67), color-stop(60%,#b68d4c), color-stop(75%,#c19e67), color-stop(100%,#e9d4b3)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* IE10 preview */
	background: linear-gradient(to bottom, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
.top_menu li:hover
{
	background: rgba(0, 0, 0, 0.3); 
}
.top_menu li
{
	border-right: 4px solid #fff;
}
.top_menu li a
{
	color: black;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}

.E1{
	height: 5%
	width: 5%
}
/*EL DISEÑO DE LOS ARCULOS DE LA PAGINA WEB*/
#header
{

	margin:auto;
	/*width:500px;*/
	/* ORGANIZAR EL TEXTO A LA DERECHA --float: left;*/
	margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
}
#ar1
{
	display: inline-block;
	vertical-align: top;
	border-style: groove;
	background-color:#FFF8DC;	
	box-shadow: 0px 0px 20px  #FFFFFF;
	border-radius: 10px 20%;
	
}
/*DISEÑO DE LAS IMAGENES DEL BLOG*/
figure {
    display: block;
    webkit-margin-before: 1em;
    webkit-margin-after: 1em;
    webkit-margin-start: 150px;
    webkit-margin-end: 40px;
	float:left;
}
	/*DISEÑO ESTRELLAS DE LOS COMENTARIOS*/
.ec-stars-wrapper {
	
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}
.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}



.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
/*DISEÑO DE LA BARRA LATERAL*/
#barra_lateral{
	border: 2px solid #FFF8DC;
	float:right;
	width: 300px;
	height: 930px;
	background-color: #FFF8DC;
}
#f1 {
   border: 2px solid #FFF8DC;
    padding: 5px;
    width: 180px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#f2{
	border: 2px solid #FFF8DC;
    padding: 4px;
    width: 220px;
    height: 180px;
    float:left;
}
/*INICIO DE RESPONSIVE MEDIANO*/
@media (max-width: 950px )
{
	/*MENU RESPONSIVE*/
	header label
	{
		display: block;
	}
	.top_menu
	{
		position: absolute;
		background: #f3e2c7; /* Old browsers */
		background: -moz-linear-gradient(top, #f3e2c7 4%, #c19e67 34%, #b68d4c 60%, #c19e67 75%, #e9d4b3 100%); /* FF3.6-15 */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f3e2c7), color-stop(34%,#c19e67), color-stop(60%,#b68d4c), color-stop(75%,#c19e67), color-stop(100%,#e9d4b3)); /* Chrome4-9,Safari4-5 */
		background: -webkit-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
		background: -o-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* Opera 11.10-11.50 */
		background: -ms-linear-gradient(top, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* IE10 preview */
		background: linear-gradient(to bottom, #f3e2c7 4%,#c19e67 34%,#b68d4c 60%,#c19e67 75%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
		width: 70%
		transition: all 0.58;
		margin-left: -70% 

	}
	.top_menu ul
	{
		flex-direction: column;
	}
	.top_menu li
	{
		border-top: 4px solid #fff;
	}
	#btn_menu:checked ~ .top_menu
	{
		margin: 0;
	}
	/*FIN DEL MENU RESPONSIVE*/
	/*INICIO DE LOS ARTICULOS DEL BLOG RESPONSIVE*/
	#ar1
	{
		border-radius: 0px 0%;
	}
	/*FIN DE LOS ARTICULOS DEL BLOG RESPONSIVE*/
	/*FIN DE LA BARRA LATERAL DEL BLOG RESPONSIVE*/
	#barra_lateral
	{
		display: none;
	}
	/*FIN DE LA BARRA LATERAL DEL BLOG RESPONSIVE*/
	/*FIN DEL MENU RESPONSIVE*/
/*FIN DEL RESPONSIVE MEDIANO*/	
}















