body {

	background-image: url('principal.jpg');
	background-repeat: no-repeat;
	background-size: 1800px  1400px;
}

.top_menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

 

.top_menu ul li

{
    float: left;
}

.top_menu ul li a

{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.top_menu li a:hover {
    background-color: #111;
}

.E1{
	height: 5%
	width: 5%
}

#header
{
	margin:auto;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	/* ORGANIZAR EL TEXTO A LA DERECHA --float: left;*/
	 position:top:absolute
	margin: auto;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;

	

}
#ar1
{
	
	border-style: groove;
	background-color:#FFF8DC;
	
}

figure {
    display: block;
    webkit-margin-before: 1em;
    webkit-margin-after: 1em;
    webkit-margin-start: 150px;
    webkit-margin-end: 40px;
	float:left;
}





.ec-stars-wrapper {
	
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}



.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

#aside1{
	border: 2px solid #FFF8DC;
	float:right;
	width: 300px;
	height: 930px;
	background-color: #FFF8DC;

}



#f1 {
   border: 2px solid #FFF8DC;
    padding: 5px;
    width: 180px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#f2{
	border: 2px solid #FFF8DC;
    padding: 4px;
    width: 220px;
    height: 180px;
    float:left;
}














